/*IMPORTAÇÕES*/

@import url("partials/modals/modalMidia.css");
@import url("partials/modals/criarPost.css");
@import url("partials/modals/editarPost.css");
@import url("partials/modals/excluirPost.css");
@import url("partials/modals/salvarPublicacao.css");
@import url("partials/modals/modalsairconta.css");
@import url("partials/post.css");
@import url("partials/modals/criarColecao.css");
@import url("partials/modals/adicionarImagemColecao.css");
@import url("partials/modals/excluirColecao.css");
@import url("partials/modals/removerPostColecao.css");
@import url("partials/modals/excluirMidia.css");

@font-face {
  font-family: "Cocomat Pro Regular";
  src: url("../assets/fonts/Cocomat.Pro/CocomatPro-Regular.ttf");
}

@font-face {
  font-family: "Cocomat Pro Bold";
  src: url("../assets/fonts/Cocomat.Pro/CocomatPro-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets//fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../assets/fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}



/* Variáveis Globais*/
:root {
  /* Colors */
  --yellow: #e3b055;
  --orange: #f4863e;
  --green: #638a62;
  --gray-border: #cdcccc;
  --red: #f86d68;
  --gray-bg: #f2f5f5;
  --gray-bg2: #f5f5f5;

  /* Texts */
  --smallsmall: 8pt;
  --small: 10pt;
  --medium: 12pt;
  --large: 14pt;
  --xlarge: 27pt;
}

/*  Global Styles */

* {
  margin: 0;
  padding: 0%;
  list-style: none;
  font-family: "Nunito";
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--gray-bg);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

& h1,
h2,
h3,
h4,
p,
a {
  color: #2c2f2c;
}

.flex {
  display: flex;
}

.checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid black;
}

.nova-colecao {
  color: var(--orange);
  font-family: "Nunito";
  font-weight: bold;
  padding: 5px 10px;
  background-color: #dfa4365c;
  border-radius: 20px;
}

.button {
  background: var(--orange);
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  font-family: "Cocomat Pro Bold";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor {
  display: flex;
  gap: 1rem;

  & img {
    width: 50px;
    height: 50px;
    border: 2px solid var(--orange);
    border-radius: 8px;
  }

  & div h4 {
    color: #638a62;
  }

  & div a {
    color: #969696;
    font-family: "Nunito";
    font-weight: bold;
  }
}

.iconPlus {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 92.8%;
}

.create-post {
  width: 92%;
  height: 55px;
  padding: 0 1rem;
  gap: 1rem;
  border: 1px solid var(--gray-border);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 3px 10px 1px rgb(215, 215, 215);

  & img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  & #abrirModalCriarPost {
    width: 650px;
    height: 35px;
    padding-left: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
}
