.home-section1{
    width: 100%;
    height: 91.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;

    & h1, p{
        color: #622110;
    }
    & h1 {
        font-size: 9vh;
        font-family: 'Cocomat Pro Bold';
    }
    & p {
        width: 300px;
        text-align: center;
    }
    & a {
        padding: 1rem 2rem;
        background-color: var(--orange);
        border-radius: 10px;
        color: white;
        font-size: 15pt;
        font-weight: bold;
    }
}

@media (max-width: 600px){
    .home-section1 {

        & h1 {font-size: 5.5vh;
        }
        & p {
            font-size: 3vh;
    }
    }
}