input{
    all: unset;
}

#form-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.divScroll{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px ;
    overflow-y: auto;
    width: 400px;
    height: 200px;
}

.info-form{
    font-size: 10pt;
    color: black;
    font-family: 'Nunito';
}

.info-form span a{
    color: #0047ff;
    text-decoration: underline;
    font-family: 'Nunito';
}

.lbllogin{
    width: 30%;
    font-family:'Nunito';
    font-size: 14px;
    margin-bottom: 1rem ;
    color: grey;
    transition: color 0.4s ease;

}

.lblcheckbox{
    font-size: 12px; text-align: left; width: 100%; margin-bottom: 0px; font-family: 'Nunito';
}

.title{
    font-family: 'Open Sans';
    color: #2c2f2c;
    font-size: 30pt;
    margin-bottom: -10px;
    text-align: center;
}

.button{
    width: 280px;
    padding: 1rem;
    font-size: 17px;
    border-radius: 15px;
    color: whitesmoke;
    border: none;
    font-family: 'Nunito';
    background-color: #f4863e;
}

.inputtxt{
    padding: 5px 0px;
    text-align: left;
    width: 350px;
    background-color: #f2f5f5;
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid grey;
    color: black;
    transition: border-bottom 0.4s ease;
    box-sizing: border-box;
}

.inputtxt:focus{
    border-bottom: 1.3px solid #e3b055;
}

.input-container:focus-within .lbllogin {
    color: #e3b055; 
}

.inputselect{
    width: 300px;
    height: 30px;
    margin-top: 5px;
    transition: border 0.4s ease;
}

.inputselect:focus{
    border: 1.3px solid #e3b055;
}

.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    transition: background-color 0.3s ease;
    
}

.checkbox{
    margin-right: 5px;
}


.checkbox:focus{
    background-color: #e3b055;
}

.container-lateral-desktop{
    width: 35%;
    height: 100vh;
    background-image: linear-gradient(#f86d68, #f4863e, #e3b055);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: -7%;
}

.container-lateral-desktop h1, p, a{
    color: white;
    font-family: 'Poppins Bold';

}

.container-lateral-desktop h1 {
    font-size: 30pt;
    animation-name: animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    font-family: 'Nunito';
}

.container-lateral-desktop a {
    padding: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15pt;
    font-family: 'Nunito';
}

.container-lateral-desktop p {
    font-size: 22pt;
    width: 300px;
    text-align: center;
    font-family: 'Nunito';
}

.container-lateral-desktop div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.flex{
    display: flex;
}

.container-inferior-mobile{
    display: none;
}



@media only screen and (max-width: 900px){

    .flex{
        flex-direction: column;
    }

    main{
        width: 100%;
        height: 60%;
        justify-content: flex-start;
    }

    .title{
        font-size: 24pt;
    }

    .container-lateral-desktop{
        display: none;
    }

    .container-inferior-mobile{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 40%;
        background-image: linear-gradient(#f86d68, #f4863e, #e3b055);
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0;
        z-index: 10;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    }

    .container-inferior-mobile h1, p, a{
    color: white;
    font-family: 'Poppins Bold';

}

    .container-inferior-mobile h1 {
        font-size: 23pt;
        animation-name: animation;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        font-family: 'Nunito';
        margin-top: 4rem;
    }

    .container-inferior-mobile a {
        padding: 0.5rem;
        border: 2px solid white;
        border-radius: 20px;
        font-size: 15pt;
        font-family: 'Nunito';
        margin-bottom: 2rem;
    }

    .container-inferior-mobile p {
        font-size: 22pt;
        width: 300px;
        text-align: center;
        font-family: 'Nunito';
    }

    .container-inferior-mobile div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .divScroll{
        align-items: center;
        width: 370px;
    }

    header{
        display: block;
    }

    .seach-bar{
        display: none;
    }

    .dropdown-content{
        position: absolute;
        top: 40px; 
        width: 100vw; 
        min-width: 100vw;
        background-color: #f2f2f2;
        padding: 20px 10px;
        box-sizing: border-box;
        z-index: 1;
    }

    .dropdown-content a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }
    
}