@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(dialog) {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


dialog::backdrop {
  background-color: rgb(0 0 0 /.3);
}

dialog {
  border: none;
  min-width: 400px;
  max-width: 700px;
  min-height: 200px;
  max-height: 600px;
  border-radius: 6px;
  padding: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.modal-title{
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: #2c2f2c;
  text-align: center;
  align-items: center;
  
}

.close-modal-filtro {
  cursor: pointer;
  border: 1px solid #d8d8d8;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ecebeb;
  color: #9ca3af;
  font-size: 14px;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #eee;
  color: #666;
  outline: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.buttons-filtro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  margin-bottom: 30px;
}

.buttons-filtro button {
  border: none;
  border-radius: 25px;
  background-color: #ecebeb;
  color: #80848b;
  padding: 12px 28px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex: 1 1 calc(33% - 1rem); /* ocupa ~1/3 da linha */
  height: 40px;
  min-width: 160px;
  max-width: 200px; 
  display: inline-flex;       /* chave */
  align-items: center;        /* centra vertical */
  justify-content: center;    /* centra horizontal */
  gap: 0.5em;   /* espaço entre texto e ícone */
  line-height: 1;    /* reduz variação vertical */           
}

.buttons-filtro button.selected {
  background-color: #fde1cf;
  color: #ff7f00;
}

.buttons-filtro button.selected::after {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  /* código do ícone check */
  font-weight: 900;
  margin-left: 8px;
  font-size: 0.875em;     /* levemente menor que o texto */
  line-height: 1;
  display: inline-block;  /* evita alongamento estranho */
  color: #ff7f00;
}


.atention {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
}

.atention h4 {
  font-size: 11px;
  font-weight: bold;
  padding-right: 3px;
  color: #70837e;
}

.atention span {
  font-size: 11px;
  padding-left: 4px;
  color: #70837e;
}

.modificar-filtro {
  display: flex;
  justify-content: flex-end;
  padding-left: 40%;
  gap: 25px;
  width: 100%;
  padding-left: 0;
}

.modificar-filtro button {
  padding: 4px 22px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-cancelar {
  background-color: #f5f5f5;
  color: #708372;
  transition: background-color 0.3s ease;
}

.btn-cancelar:hover,
.btn-cancelar:focus {
  background-color: #e0e9e4;
  outline: none;
}

.btn-alterar {
  background-color: #f4863e;
  color: #f5f5f5;
  transition: background-color 0.3s ease;
  
}

.btn-alterar:hover,
.btn-alterar:focus {
  background-color: #d9762d;
  outline: none;
}

@media only screen and (max-width: 900px) {
  dialog {
    min-width: 0;
    width: 80%;
  }
}