.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 95%;
  background-image: var(--gray-bg2);
  padding: 0 3%;
  box-shadow: 0 4px 15px rgba(14, 14, 14, 0.109);
  background-color: var(--gray-bg2);
  position: fixed;
  z-index: 1003;
}

.nav-title {
  margin-top: -10px;
}

.nav-elements {
  display: flex;
  gap: 30px;
  line-height: 50px;
}

.navbar ul li a {
  color: var(--orange);
  font-family: "Cocomat Pro Bold";
  font-weight: bold;
}

.icon-menu {
  width: 25px;
  height: 20px;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.icon-menu span {
  display: relative;
  height: 3px;
  width: 100%;
  background: var(--orange);
}

.hamburger {
  border: none;
  display: relative;
  background: none;
  border-top: 2px solid var(--orange);
  cursor: pointer;
  z-index: 1001;
}

.hamburger::before,
.hamburger::after {
  content: "  ";
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background: var(--orange);
  margin-top: 5px;
  transition: 0.3s;
}

#navlinks {
  position: absolute;
  padding: 20px 0 0 30px;
  top: 100%;
  left: -400px;
  width: 20vw;
  height: calc(100vh - 50px);
  background: var(--gray-bg2);
  box-shadow: 5px 4px 15px rgba(14, 14, 14, 0.109);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  transition: left 0.4s ease;
}

#navlinks.show {
  left: 0;
}

.hamburger.show {
  border-top-color: transparent;
}

.hamburger.show::before {
  transform: rotate(135deg);
}

.hamburger.show::after {
  transform: rotate(-135deg);
  top: -7px;
}

#dropdownMenu {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  background-color: var(--gray-bg2);
  padding: 20px 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.164);
  min-width: 260px;
  height: 190px;
  top: 100%;
  right: 0;
  z-index: 1;

  & .mn-part1 {
    width: 100%;
    display: flex;
    flex-direction: column;

    & .name-account,
    .email-account,
    .perfil-account {
      font-weight: bold;
      margin: -1rem 0;
      font-family: "Cocomat Pro Bold";
    }

    & .email-account {
      color: #2c2f2c;
      font-family: "Nunito Regular";
    }

    & .email-account,
    .perfil-account {
      font-size: 9pt;
    }

    & .perfil-account {
      color: #ff7f00;
    }
  }
}

#dropdownMenu.show {
  display: flex;
}

#icon2:active #barra2 {
  display: none;
}

.email-account {
  color: #2c2f2c;
  font-family: "Nunito Regular";
}

.foto-perfil {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.mn-part2 {
  width: 100%;
  display: flex;
  flex-direction: column;

  & ul li {
    margin: -1rem 0;
    margin-left: 10px;

    & a {
      color: #708372;
      font-family: "Cocomat Pro Bold";
      font-size: 14px;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.4s ease; */
  z-index: 999;
}

#overlay.show {
  opacity: 1;
  visibility: visible;
}

.buscar {
  height: 26px;
  width: 350px;
  margin-top: 12px;
  border: 1px solid #cdcccc;
  border-radius: 15px;
  padding-left: 1rem;
}

.buscar:focus + label .buscarIcon {
  opacity: 0;
}


.buscarIcon{
  margin-top: 16px;
  transform: translateX(-30px);
  width: 20px;
  height: 20px;
  transition: opacity 0.2s ease;
}

@media (max-width: 600px) {
  #dropdownMenu {
    height: 99vh;
    min-width: 100px;
    left: 40%;
    gap: 2rem;
  }
}
