/* SIDEBAR FIXA */
body {
  overflow-x: hidden;
}

.fixed-settings-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  padding: 2rem 1rem 2rem 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1;
}

.fixed-settings-sidebar h1 {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  color: #969696;
  margin: 0;
  margin-top: 50px;
  display: flex;
}

.fixed-settings-sidebar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: #dedcdc solid 2px;
}

.fixed-settings-sidebar ul li a {
  text-decoration: none;
  color: #777;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: "Nunito", sans-serif;
}

.fixed-settings-sidebar ul li img {
  width: 35px;
  height: 35px;
  align-items: center;
}

.fixed-settings-sidebar ul li a:hover,
.fixed-settings-sidebar ul li a.active {
  color: #e74c3c;
  font-weight: bold;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: #dedcdc solid 2px;
}

.title-container img {
  width: 70px;
  height: 70px;
  align-items: center;
  margin-top: 55px;
}

/* CONTEÚDO PRINCIPAL */

.display-config {
  margin-left: 350px;
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  height: auto;
}
.informacoes-perfil {
  margin: 0 auto;
  position: relative;
}

/* IMAGENS DO PERFIL*/

.input-imagem-fundo {
  display: none;
}

.imagem-fundo {
  height: 200px;
  width: auto;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  color: #666;
  font-size: 1rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.imagem-fundo-carregada {
  height: auto;
  width: 100%;
  display: block;
  object-fit: cover;
}

.input-icone-perfil {
  display: none;
}

.icone-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed #ccc;
  background-color: #f0f0f0;
  margin: -40px auto 1rem auto;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50% -50%);
  z-index: 2;
}

.icone-perfil-padrao {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
}

.icone-perfil-carregada {
  width: 100px;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.imagem-fundo:hover,
.icone-perfil:hover {
  background-color: #e0e0e0;
  border-color: #c5c3c3;
}

.texto-imagem-fundo {
  color: #969696;
}

/*CAMPOS DE EDIÇÃO*/

.info-editar {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.linha {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.campo-editar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: none;
  padding-right: 5px;
  flex: 1;
  min-width: 200px;
  max-width: 100%;
  position: relative;
}

.campo-editar-container h2 {
  margin: 0 0 5px 0;
  font-size: 1rem;
  color: #666;
}

/*Input*/
.campo-editar-container input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  max-width: 100%;
}

.campo-editar-container input:focus {
  border-color: #e74c3c;
}

/*Select*/
.campo-editar-container select {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  appearance: none;
  height: 35px;
}

.campo-editar-container select:focus {
  border-color: #e74c3c;
}

/* Ícone de editar */
.campo-editar-container img {
  position: absolute;
  right: 5px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.campo-editar-container img:hover {
  opacity: 1;
}

/* ====== BOTÃO SALVAR ====== */
.botao-salvarAlteracoes {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.botao-salvarAlteracoes button {
  background-color: #fbab71;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  font-family: "Cocomat Pro Bold";
  border-radius: 8px;
  cursor: pointer;
}

.botao-salvarAlteracoes button:hover,
.botao-salvarAlteracoes button:active {
  background-color: #f4863e;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 900px){

.fixed-settings-sidebar {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 14%;
  display: block;
  flex-direction: row;
  z-index: 2;
  top: 0;
}

.title-container{
  display: none;
}

.display-config {
    width: 100%;
    margin-left: 0;
    padding-top: 10vh; 
    height: auto;
}


.icone-perfil {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  margin: 0;
  top: 40%;
}

.imagem-fundo {
  position: relative;
}
  
}
