#adicionarImagemModal{
  background: #FFF;
  width:100%;
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 8%;
  left: 32%;
  z-index: 1100;
  max-width:500px;
  border-radius:var(--radius);
  box-shadow:0 8px 25px rgba(0,0,0,0.25);
  padding:18px;
}

#adicionarImagemModal.show{
  display:flex;
}

/* Cabeçalho */
#adicionarImagemModal .modal-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:12px;
}

#adicionarImagemModal .modal-title{
  margin:0;
  font-size:1.2rem;
  font-family: "Cocomat Pro Bold";
}

#adicionarImagemModal .btn-close{
  background:transparent;
  border:0;
  font-size:22px;
  cursor:pointer;
}

/* Corpo */
#adicionarImagemModal .modal-body{
  display:flex;
  flex-direction: column;
  gap:12px;
  align-items: center;
  justify-content: center;
  height: 250px;
}

#adicionarImagemModal .drop-area{
  border:2px solid #bbbbbb;
  background-color: #cdcccc;
  border-radius:10px;
  padding:14px;
  width: 60%;
  height: 75%;
  text-align:center;
  cursor:pointer;
  display:flex;
  font-family: "Nunito Regular";
  align-items: center;
  justify-content: center;
}

#adicionarImagemModal .drop-area input{
  display:none;
}

#adicionarImagemModal .preview img{
  max-width:160px;
  max-height:120px;
  object-fit:cover;
  border-radius:8px;
  margin-top:8px;
  border:1px solid #ddd;
}

/* Rodapé */
#adicionarImagemModal .modal-footer{
  display:flex;
  justify-content:flex-end;
  gap:8px;
  margin-top:12px;
}

#adicionarImagemModal input[type="text"]
{
  resize: none;
  width: 90%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

#adicionarImagemModal .btn-add{
  background:var(--orange);
  border:0;
  padding:8px 12px;
  border-radius:8px;
  color:#fff;
  cursor:pointer;
}

#adicionarImagemModal .btn-secondary{
  background:#fff;
  border:1px solid #d1d5db;
  padding:8px 12px;
  border-radius:8px;
  cursor:pointer;
}
