
/* Container do modal */
#criarColecao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 400px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  font-family: 'Nunito Regular', sans-serif;
  padding: 0;
  display: none;
  flex-direction: column;
}

#criarColecao.show {
  display: flex;
}

/* Header */
#criarColecao .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#criarColecao .modal-title {
  font-size: 18px;
  font-weight: 600;
  width: 90%;
  text-align: center;
  color: #333;
  margin: 0;
  font-family: 'Cocomat Pro Bold','Arial', sans-serif;
  font-weight: bold;
}

#criarColecao .close-modal {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s;
}

#criarColecao .close-modal:hover {
  color: #000;
}

/* Body */
#criarColecao .modal-body {
  padding: 20px;
}

#criarColecao .desc-criarcolecao {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Nunito Regular', 'Arial', sans-serif;
}

#criarColecao .desc-criarcolecao span {
  font-size: 14px;
  color: #555;
}

/* Formulário */
#criarColecao .form-criarcolecao form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#criarColecao .form-criarcolecao label {
  font-weight: 500;
  color: #596153;
  font-size: 14px;
  font-family: 'Nunito Regular', 'Arial', sans-serif;
  font-weight: bold;
}

#criarColecao .form-criarcolecao input[type="text"] {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
}

#criarColecao .form-criarcolecao input[type="text"]:focus {
  border-color: var(--orange);
  box-shadow: 0 0 5px rgba(255, 145, 0, 0.3);
  outline: none;
}

/* Botões */
#criarColecao .botoes-criarcolecao {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

#criarColecao .botoes-criarcolecao button {
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

/* Botão Cancelar */
#criarColecao #btn-cancelar-criarcolecao {
  background-color: #e0e0e0;
  color: #333;
}

#criarColecao #btn-cancelar-criarcolecao:hover {
  background-color: #d5d5d5;
}

/* Botão Criar */
#criarColecao #btn-criar-criarcolecao {
  background-color: #f4863e;
  color: #fff;
}

#criarColecao #btn-criar-criarcolecao:hover {
  background-color: #fa7720;
}
