/* ==============================
   MODAL criarPost
   ============================== */
#editarPost {
  border: none;
  border-radius: 15px;
  width: 40%;
  height: 75%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 1099;
}

#editarPost * {
  box-sizing: border-box;
}

#editarPost .cabecalho-post2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;
  border-bottom: 2px solid #dddddd;
  padding-inline: 16px;
}

#editarPost .add-file-post2 {
  cursor: pointer;
  color: #708372;
  font-weight: bold;
  border: 1px solid #cdcccc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin: 0;
}

#editarPost .add-file-post2:hover { background-color: #e9e9e9; }
#editarPost .add-file-post2:active { background-color: #dadada; }

#editarPost .btn-salvar2 {
  background-color: #f4863e;
  color: #f5f5f5;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto 1.5rem;
  display: block;
  width: 100%;
  max-width: 240px;
}

#editarPost .sair {
  margin-right: 30px;
  font-weight: bold;
  color: var(--orange);
}

#editarPost .corpo-post2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 16px;
  align-items: stretch;
  gap: 2rem;
}

#editarPost .corpo-post2 .informacoes_pessoais2 {
  display: flex;
  gap: 1rem;
  height: auto;
  align-items: center;
}

#editarPost .corpo-post2 .informacoes_pessoais2 p {
  color: var(--orange);
  font-size: 12pt;
}

#editarPost .corpo-post2 .perfilIcon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

#editarPost .corpo-post2 #textPost2 {
  width: 100%;
  min-height: 120px;
  border: none;
  color: #2c2f2c;
  font-weight: bold;
  font-size: 12pt;
  padding: 10px;
  resize: vertical;
}

#editarPost .corpo-post2 #textPost2:focus {
  border: 1px solid #2c2f2c;
}

#editarPost.show {
  display: flex;
}

.preview2 img {
max-width: 160px;
max-height: 120px;
border-radius: 8px;
margin-top: 8px;
}

@media only screen and (max-width: 900px) {
  #editarPost{
    min-width: 80%;
  }
}