/* ==============================
   MODAL MÍDIA
   ============================== */
#modalPost {
  width: 70%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: space-around;
  border: none;
  border-radius: 20px;
  background-color: white;
  z-index: 1099;
}

#modalPost .autor {
  font-size: 10pt;
  background: none;
  color: var(--red);
  padding: 0;
  margin: 0;
}

#modalPost .sair {
  background: none;
  color: #f4863e;
  font-size: 12pt;
  padding: 0;
  margin-top: 35px;
  margin-left: 20px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
}

#modalPost .info {
  padding: 0;
  margin-top: -8px;
  background: none;
  font-size: 8pt;
  color: #708372;
}

#modalPost .postInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  height: 65%;
  margin-top: 1rem;
}

#modalPost .postInfo .txtPost {
  font-size: 10pt;
  text-align: left;
  color: black;
  font-family: "Nunito";
  width: 90%;
  font-weight: bold;
}

#modalPost .postInfo .txtPost .hashtags {
  color: #f4863e;
}

#modalPost .photo-post {
  width: auto;
  margin: 2rem;
  height: 75%;
  width: auto;
}

#modalPost .container-foto-modal{
  display: flex; 
  width: 70%; 
  height: 100%; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center;
}

#modalPost .container-legenda-modal{
  width: 30%;
  border-left: 3px solid #f5f5f5;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#modalPost .topo-legenda-modal{
  border-bottom: 3px solid #f5f5f5;
  display: flex;
  align-items: center;
  padding: 1rem;
}

#modalPost .data-legenda-modal{
  display: flex;
  width: 100%;
  height: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

#modalPost .texto-legenda-modal{
  flex: 1;
  max-height: calc(100% - 60px);
  overflow-y: auto; /* mantém o scroll funcionando */
  -ms-overflow-style: none;  /* esconde o scroll no IE/Edge antigo */
  scrollbar-width: none;     /* escondeo scroll no Firefox */

}

#modalPost .texto-legenda-modal::-webkit-scrollbar {
  display: none; /* esconde o scroll no Chrome, Safari e Edge moderno */
}

@media only screen and (max-width: 900px) {

  #modalPost{
    width: 85%;
    flex-direction: column;

  }

  #modalPost .container-foto-modal{
    width: 100%;
  }

  #modalPost .container-legenda-modal{
    max-height: 40%;
    width: 100%;
    border-left: 0;
    margin-top: -35px;
  }

  #modalPost .topo-legenda-modal{
    display: none;
  }

  .photo-post{
    height: 50%;
  }
}