/* ==============================
   MODAL modalPost
   ============================== */
#modalPost {
  width: 70%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: space-around;
  border: none;
  border-radius: 20px;
  background-color: white;
  z-index: 1099;
}

#modalPost .autor {
  font-size: 10pt;
  background: none;
  color: var(--red);
  padding: 0;
  margin: 0;
}

#modalPost .sair {
  background: none;
  color: #f4863e;
  font-size: 12pt;
  padding: 0;
  margin-top: 35px;
  margin-left: 20px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

#modalPost .info {
  padding: 0;
  margin-top: -8px;
  background: none;
  font-size: 8pt;
  color: #708372;
}

#modalPost .postInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-top: 2rem;
}

#modalPost .postInfo .txtPost {
  font-size: 10pt;
  text-align: left;
  color: black;
  font-family: "Nunito";
  width: 90%;
  font-weight: bold;
}

#modalPost .postInfo .txtPost .hashtags {
  color: #f4863e;
}

#modalPost .photo-post {
  width: 90%;
  margin: 2rem;
  height: 90%;
}
